body {
  background-color:#595959;
}
table {
  table-layout: fixed;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 0.95em;
}
h1 {
  color:#6978FF!important;
}
h2 {
  color:#6978FF!important;
}
td {
  background-color:#4A4A4A;
  border-radius: 5px;
  overflow:hidden;
  margin-right: 8px;
}
tr {
  white-space: nowrap;
}
a:link {
  color:#6978FF;
}
a:visited {
  color:#D86EAE;
}
a:active {
  color:#828BDE;
}
html * {
  font-family:"Consolas", monospace !important;
  color:#A2A4BA;
}
