body {
  background-color:#270000;
}
table {
  table-layout: fixed;
  width: 100%;
  padding: 15px;
  color:#A9B7C6;

}
td {
  background-color:#272822;
  border-radius: 5px;
}
p {
  margin-top: 0.0em;
  margin-bottom: 0.0em;
}
